.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/resources/AwsCredentials.properties
src/main/java/com/api/api/config/
src/main/java/com/api/api/controller/
src/main/java/com/api/api/exception/
src/main/java/com/api/api/model/
src/main/java/com/api/api/repository/
src/main/java/com/api/api/service/
src/main/resources/AwsCredentials.properties
src/main/resources/static/
src/main/resources/templates/
